.sidebar {
    background-color: green;
    width: 6%;
    height: 495.6vh;
}

.content {
    width: 94%;
}

.theultimate {
    background-image: linear-gradient(to left, rgb(115, 28, 135), rgba(52, 78, 69, 0.5)), url("img/hero.jpeg");
    height: 80vh;
    width: 70%;
    background-size: cover;
    opacity: 0.5;
}

.main {
    display: flex;
    justify-content: left;
}

.youroownhome {
    display: flex;
    justify-content: left;
}

body {
    margin: 0;
    padding: 0;
}

.heade {
    height: 2rem;
    margin-top: 3rem;
    margin-left: 50vh;
}

.list {
    margin-top: 10rem;
    margin-left: 8rem;
}

.freedom {
    font-size: 2rem;
    margin-left: 8rem;
    margin-top: -.5rem;
}

.feat {
    margin-left: 8rem;
    background-color: orange;
    border: none;
    padding: 1.4rem 2rem;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;

}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.bbc {
    display: flex;
    justify-content: space-evenly;
}

.ra {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 10rem;
    margin-top: .5rem;

}

.aum {
    margin-top: 8rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.Rohit {
    margin-left: .5rem;
}

.p {

    margin-top: -2rem;
    margin-left: 15rem;

}

.part2 {
    flex-basis: 30%;

}

.mo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.rea1 {
    margin-top: 1rem;
}

.part2 {
    background-color: deepskyblue;
}

.fa {

    margin-top: 5rem;

}

.world {
    margin-left: 2rem;
    margin-top: -2rem;

}

.lorem {
    margin-left: 2rem;
    margin-top: -1rem;
}

.laloo {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

}

.lal {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;

}

.worldsbest {
    height: 17%;
    position: relative;

}

.papa {
    width: 100%;

    height: 80vh;
}

.pupa {
    width: 30%;
    position: absolute;
    top: 180%;
    left: 14%;
    z-index: 20;
}

.lupa {
    width: 30%;
    position: absolute;
    top: 195%;
    left: 28%;
    z-index: 20;
}

.phot {
    display: flex;
    justify-content: flex-start;

}

.lis {
    text-align: left;
    margin-left: 8rem;
    margin-top: 10rem;
}

.freem {
    text-align: left;
    margin-left: 8rem;

}

.star {
    text-align: left;
    margin-left: 8rem;

}

.ft {
    text-align: left;
    margin-left: 8rem;
}

.aka {
    width: 100%;

}

.image {
    width: 50%;

}

.thebestdecision {
    width: 50%;
    background-color: cornsilk;
    height: 80vh;

}

.ast {
    height: 217px;
    width: 326px;

}

.s1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.s1 > div {
    margin: 31px;
}

.susa {
    display: flex;
    justify-content: space-between;
    margin: 2rem;

}

.pa {
    margin-left: 3rem;
    margin-top: -1.3rem;
}

.home__name {
    text-align: center;
    background-color: orange;
    padding: 1rem;
    margin-top: -3rem;
    z-index: 5;
    position: relative;
}

.musa {
    display: flex;
    justify-content: space-between;
    margin: 2rem;

}

.da {
    margin: 0 auto;
    display: block;
    background-color: indianred;
    padding-right: 6.1rem;
    padding-left: 6.1rem;
    border: none;
}

.sda1 {
    background-color: pink;
}

.astwq {
    height: 217px;
    width: 326px;
}

.s333 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.s333 > div {
    margin: 31px;
}

.susadas {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.pat {
    margin-left: 3rem;
    margin-top: -1.3rem;
}

.musat {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.dat {
    margin: 0 auto;
    display: block;
    background-color: indianred;
    padding-right: 6.1rem;
    padding-left: 6.1rem;
    border: none;
}

.aalo {
    background-color: pink;
}

.rd {
    height: 130vh;
}

.img1 {

    object-fit: cover;
}

.art {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    padding: 1rem;

}

.ar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.i1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.i2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.i3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.i4{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}



.i5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}
.i6{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.i7{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.i8{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;

}
.i9{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}
.i10{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i11{
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i12{
    grid-column-start: 5;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}
.i13{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
}
.i14{
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
}

.footer{
    background-color: black;
    margin-top:-6rem ;
    height: 30vh;
}
.h,.ma,.sa,.padu{
    color: white;
}
.saa{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
}